<header></header>
<main>
    <p id="notice"></p>
    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-lg-8 cok-xl-6">
              <h1>歴史を深掘りを目的としたサイト</h1>
            </div>
        </div>
    </div>
</main>