<header></header>
<main>
    <p id="notice"></p>
    <div class="container">
        <div class="row">
            <div class="mx-auto col-11 col-sm-10 col-lg-8 cok-xl-6">
              <h1 class="text-center"><strong>History Tour</strong></h1>
              <h2 class="text-center"><strong>偉人の所縁の地を巡ろう<i class="fa-solid fa-plane-up"></i></strong></h2>
              <p class="text-center">世界各地、日本各地の偉人たちの所縁の地を共有することができます</p>
              <p class="text-center">所縁の地からお気に入りの偉人たちの背景を深掘りしてみましょう！</p>

              <div class="col-8 mx-auto">
                  <div class="row-3">
                    <%= link_to "Log in", new_user_session_path, class:"btn btn-secondary btn-sm btn-block mb-3" %>
                  </div>
                  <div class="row-3">
                    <%= link_to "Sign up", new_user_registration_path, class:"btn btn-secondary btn-sm btn-block mb-3" %>
                  </div>
                  <div class="row-3">
                    <%= link_to 'Guest Log in（for viewing）', homes_guest_sign_in_path, method: :post, class:"btn btn-secondary btn-sm btn-block mb-3" %>
                  </div>
              </div>
            </div>
        </div>
    </div>
</main>